.container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 30px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bgbox {
  background-color: coral;
  height: 200px;
}
.btn-product-offer {
  font-size: 30px;
  background: #6f1d46;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  font-family: "Bianco Serif New";
}
