<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
</style>
</head>
<body>

<h2>Image Text Blocks</h2>
<p>How to place text blocks over an image:</p>

<div class="container">
    {% if section.settings.image_1 != blank %}

  	<img src="{{ section.settings.image_1 | img_url: 'master' }}" alt="Nature" style="width:100%;">
    {% endif %}

  <div class="text-block">
    <h4>{{section.settings.heading}}</h4>
    <p>{{section.settings.text1}}</p>
  </div>
</div>
 </body>
</html> 
  

{% schema %}
  {
    "name": "img-text-overlay",
    "settings": [{			
			"type": "image_picker",
			"id": "image_1",
			"label": "Image"  
    	},
		{
			"type":"text",
			"id":"heading",
			"label":"Heading",
			"default":"Enter here"
		},
		{
			"type":"richtext",
			"id":"text1",
			"label":"Heading"
		}
],
"presets": [
  {
      "name": "imag_section",
      "category": "Text"
    }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
